# Tệp .env (Rất quan trọng!)
.env
.env.*
!*.env.example

# Thư mục build của Next.js (trong futabus-clone)
futabus-clone/.next/
futabus-clone/out/

# Thư mục node_modules (cho cả hai)
backend/node_modules/
futabus-clone/node_modules/

# Các tệp log và rác
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store